- Hozzon létre 3 lekérdezést, amelyeknél a GROUP BY speciális lehetőségeit használja

In [ ]:
-- GROUP BY ROLLUP
-- Személyek szerint ki mennyi foglalást rögzített típusonként.
SELECT ROGZITETTE,
        TIPUS,
        COUNT(TIPUS) AS 'Rögzítés száma'
FROM Szallashely
GROUP BY ROLLUP(ROGZITETTE, TIPUS)

In [ ]:
-- GROUPING SETS
-- Hely szerint, típus szerint és csillagok száma szerint lett csoportosítva és megszámolva.
SELECT HELY,
        TIPUS,
        CSILLAGOK_SZAMA,
        COUNT(*) as 'db'
FROM Szallashely
GROUP BY GROUPING SETS(HELY, TIPUS, CSILLAGOK_SZAMA)

In [24]:
-- GROUPING_ID + ROLLUP
-- Megszámoltuk a klímás és nem klímás szobákat, majd a végén összegeztünk.
SELECT IIF(GROUPING_ID() = 1, 'Összesen', CAST(KLIMAS AS nvarchar(5))),
        COUNT(*)
FROM Szoba
GROUP BY ROLLUP(KLIMAS)
ORDER BY COUNT(*) ASC